.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  place-items: center;
}

.board {
  width: 302px;
  height: 302px;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
}
